body {
    font-family: Arial, sans-serif;
    background-color: #1b3a57;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #e46d0c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #f1870c;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:  #eff1f3;
    color: #0c0ce0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #fcfcfc;
}
